# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# --- RAHASIA UTAMA ---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

*.env
*.env.local
*.env.*.local

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# --- Frontend (Next.js) ---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# Folder monster, jangan pernah di-commit
/frontend/node_modules

# Hasil build Next.js
/frontend/.next
/frontend/out
/frontend/build

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# --- Backend (Go) ---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# Hasil compile / binary
# Kalo nama binary lo "main" atau "server" atau nama projectnya
/backend/main
/backend/main.exe
/backend/server
/backend/server.exe
/backend/TelU-Hub
/backend/TelU-Hub.exe
/backend/bin/

# File test coverage
/backend/coverage.*
/backend/coverage/

# Kalo lo pake `go mod vendor`
/backend/vendor/

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# --- IDE & Editor ---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# --- Operating System (macOS, Windows, Linux) ---
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

/backend/tmp

/backend/uploads/