services:
  # 1. Database Utama
  postgres:
    image: postgres:15-alpine
    container_name: teluhub_db
    restart: always
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Backend (Go Fiber)
  backend:
    build:
      context: ./backend
      dockerfile: DockerFile
    container_name: teluhub_backend
    restart: always
    ports:
      - "8910:8910"  # Port Fiber
      - "50051:50051" # Port gRPC Internal (Opsional diexpose)
      - "8081:8081"   # Port gRPC-Web Proxy
    env_file:
      - ./.env
    environment:
      - PORT=8910
      - DB_HOST=postgres # Nembak ke service postgres di atas
      - DB_PORT=5432
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - MIDTRANS_SERVER_KEY=${MIDTRANS_SERVER_KEY}
      - MIDTRANS_CLIENT_KEY=${MIDTRANS_CLIENT_KEY}
      - CLIENT_URL=${CLIENT_URL}
    depends_on:
      - postgres
    volumes:
      - ./backend/uploads:/root/uploads # Biar foto gak ilang pas restart

  # 3. Frontend (Next.js)
  frontend:
    env_file:
      - ./.env
    build:
      context: ./frontend
      dockerfile: DockerFile
      args:
        # URL API Backend (Domain Publik / HTTPS)
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
        NEXT_PUBLIC_MIDTRANS_CLIENT_KEY: ${NEXT_PUBLIC_MIDTRANS_CLIENT_KEY}
    container_name: teluhub_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data: